.pokemon-card{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black;
    border-radius: 10px; */
    padding: 2px;
    margin: 2px;
    /* box-shadow: 0 4px 4px rgba(75, 16, 16, 0.1); */
    width:300px;
   height: 350px;
    /* background-color: #f2f2f2; */
    
}

.pokemon-card>img{
    height:250px;
    width:250px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 2;
}
.pokemon-name{
    font-size: medium;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
}
.pokemon-card:hover{
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
}